In [1]:
pip install julia

Collecting julia
  Downloading julia-0.5.7-py2.py3-none-any.whl (67 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 67.6/67.6 kB 720.4 kB/s eta 0:00:00a 0:00:01
Installing collected packages: julia
Successfully installed julia-0.5.7
Note: you may need to restart the kernel to use updated packages.

In [2]:
import julia
from julia.api import Julia
julia.install()
jl = Julia(compiled_modules=False)
j = julia.Julia()

[ Info: Julia version info

Julia Version 1.8.1
Commit afb6c60d69a (2022-09-06 15:09 UTC)
Platform Info:
  OS: Linux (x86_64-linux-gnu)
  uname: Linux 5.10.16.3-microsoft-standard-WSL2 #1 SMP Fri Apr 2 22:23:49 UTC 2021 x86_64 x86_64
  CPU: 11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz:
              speed         user         nice          sys         idle          irq
       #1  1382 MHz        183 s          0 s        301 s     123066 s          0 s
       #2  1382 MHz        192 s          0 s        193 s     123332 s          0 s
       #3  1382 MHz        245 s          0 s        308 s     123137 s          0 s
       #4  1382 MHz        181 s          0 s        188 s     123293 s          0 s
       #5  1382 MHz        244 s          0 s        295 s     123144 s          0 s
       #6  1382 MHz        170 s          0 s        206 s     123355 s          0 s
       #7  1382 MHz        220 s          0 s        269 s     123171 s          0 s
       #8  1382 MHz        175 s          0 s        196 s     123356 s          0 s
  Memory: 7.643058776855469 GB (417.87890625 MB free)
  Uptime: 12379.35 sec
  Load Avg:  0.16  0.55  0.29
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-13.0.1 (ORCJIT, tigerlake)
  Threads: 1 on 8 virtual cores
Environment:
  JULIA_PKGDIR = /opt/julia
  JULIA_VERSION = 1.8.1
  JULIA_DEPOT_PATH = /opt/julia
  HOME = /home/jovyan
  XDG_CACHE_HOME = /home/jovyan/.cache/
  PATH = /opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  TERM = xterm-color

[ Info: Julia executable: /opt/julia-1.8.1/bin/julia
[ Info: Trying to import PyCall...
┌ Error: `import PyCall` failed
│   exception =
│    ArgumentError: Package PyCall [438e738f-606a-5dbb-bf0a-cddfbfd45ab0] is required but does not seem to be installed:
│     - Run `Pkg.instantiate()` to install all recorded dependencies.
│
│    Stacktrace:
│     [1] _require(pkg::Base.PkgId)
│       @ Base ./loading.jl:1306
│     [2] _require_prelocked(uuidkey::Base.PkgId)
│       @ Base ./loading.jl:1200
│     [3] macro expansion
│       @ ./lock.jl:223 [inlined]
│     [4] require(uuidkey::Base.PkgId)
│       @ Base ./loading.jl:1195
│     [5] top-level scope
│       @ /opt/conda/lib/python3.10/site-packages/julia/install.jl:36
│     [6] include(mod::Module, _path::String)
│       @ Base ./Base.jl:419
│     [7] exec_options(opts::Base.JLOptions)
│       @ Base ./client.jl:303
│     [8] _start()
│       @ Base ./client.jl:522
└ @ Main /opt/conda/lib/python3.10/site-packages/julia/install.jl:38
[ Info: Installing PyCall...
    Updating registry at `/opt/julia/registries/General.toml`
   Resolving package versions...
   Installed MacroTools ─ v0.5.9
   Installed PyCall ───── v1.94.1
    Updating `/opt/julia/environments/v1.8/Project.toml`
  [438e738f] + PyCall v1.94.1
    Updating `/opt/julia/environments/v1.8/Manifest.toml`
  [1914dd2f] + MacroTools v0.5.9
  [438e738f] + PyCall v1.94.1
    Building PyCall → `/opt/julia/scratchspaces/44cfe95a-1eb2-52ea-b672-e2afdf69b78f/53b8b07b721b77144a0fbbbc2675222ebf40a02d/build.log`
Precompiling project...
  ✓ MacroTools
  ✓ PyCall
  2 dependencies successfully precompiled in 6 seconds. 23 already precompiled.

Precompiling PyCall...
Precompiling PyCall... DONE
PyCall is installed and built successfully.

## Julia

In [4]:
#Julia
from julia import Main
julia_array = Main.rand(3)

## R

In [5]:
#R
import rpy2.robjects.packages as packages
datasets = packages.importr('datasets')
r_mtcars = packages.data(datasets).fetch('mtcars')['mtcars']

## Python

In [6]:
#Python
import pandas as pd 
python_covid = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/archived_data/archived_time_series/time_series_19-covid-Confirmed_archived_0325.csv')

### Combinar

In [7]:
julia_array

array([0.45485376, 0.24835126, 0.29349351])

In [8]:
r_mtcars

<rpy2.robjects.vectors.DataFrame object at 0x7f1ef89d7c40> [RTYPES.VECSXP]
R classes: ('data.frame',)
[FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  mpg: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f1eace9c480> [RTYPES.REALSXP]
R classes: ('numeric',)
[21.000000, 21.000000, 22.800000, 21.400000, ..., 15.800000, 19.700000, 15.000000, 21.400000]
  cyl: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f1ef8535e00> [RTYPES.REALSXP]
R classes: ('numeric',)
[6.000000, 6.000000, 4.000000, 6.000000, ..., 8.000000, 6.000000, 8.000000, 4.000000]
  disp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f1eac711f80> [RTYPES.REALSXP]
R classes: ('numeric',)
[160.000000, 160.000000, 108.000000, 258.000000, ..., 351.000000, 145.000000, 301.000000, 121.000000]
  hp: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f1eac712080> [RTYPES.REALSXP]
R classes: ('numeric',)
[110.000000, 110.000000, 93.000000, 110.000000, ..., 264.000000, 175.000000, 335.000000, 109.000000]
...
  wt: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f1eac712280> [RTYPES.REALSXP]
R classes: ('numeric',)
[0.000000, 0.000000, 1.000000, 1.000000, ..., 0.000000, 0.000000, 0.000000, 1.000000]
  qsec: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f1eac712140> [RTYPES.REALSXP]
R classes: ('numeric',)
[1.000000, 1.000000, 1.000000, 0.000000, ..., 1.000000, 1.000000, 1.000000, 1.000000]
  vs: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f1eac712600> [RTYPES.REALSXP]
R classes: ('numeric',)
[4.000000, 4.000000, 4.000000, 3.000000, ..., 5.000000, 5.000000, 5.000000, 4.000000]
  am: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x7f1eac712900> [RTYPES.REALSXP]
R classes: ('numeric',)
[4.000000, 4.000000, 1.000000, 1.000000, ..., 4.000000, 6.000000, 8.000000, 2.000000]

In [9]:
python_covid

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,NaN,Jersey,49.1900,-2.1100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
497,NaN,Puerto Rico,18.2000,-66.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
498,NaN,Republic of the Congo,-1.4400,15.5560,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
499,NaN,The Bahamas,24.2500,-76.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
500,NaN,The Gambia,13.4667,-16.6000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0